<!DOCTYPE html>


<head>
<!-- why would i be doing this -->
<meta charset="utf-8">
<meta name="description" content={{metadata.description}}>
  <meta name="author" content={{metadata.author}}>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic|Rokkitt:400,700' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="css.css">
<title>{{metadata.title}}}</title>
</head>


<body>
<header>
<nav><p>Projects</p><p><a href="/news" title="Pixyfoo news">News</a></p><p>&nbsp;</p><p><a href="/about" title="Pixyfoo about">About</a></p><p><a href="/contact" title="Pixyfoo Contact">Contact</a></p></nav>
<a href="http://pixyfoo.com" title="Pixyfoo"><img id="logo" src="pixyfoologo-plain.svg" alt="pixyfoo logo" /></a>
  <p><span class="firstWord">Pixyfoo</span> is something and it's awesome and it's like the wind baby! Nobody gets it! Whiz.</p>
</header>


<section id="main">
{{content}}
</section>

<footer>
<div id="columns"><p style="display: inline-block; text-align: left;"><span class="firstWord">Contact</span><br />this is an email address<br />umm Portland, OR?<br /><br /><br />copyright the elder gods & me.</p>
<p>&nbsp;</p><p><a href="http://pixyfoo.com" title="pixyfoo"><img id="logoFooter" src="pixyfoologo-plain.svg" alt="pixyfoo logo" /></a></p><p>&nbsp;</p>
<p class="firstWord" style="display: inline-block; text-align: right;">Projects<br /><br /><a href="/news" title="Pixyfoo news">News</a><br /><br /><a href="/about" title="about pixyfoo">About</a></p></div>
</footer>
</body>



</html>
